- name: Install common packages
  ansible.builtin.package:
    name: "{{ common_packages }}"
    state: present
  tags:
    - common
    - packages

- name: Set timezone via timedatectl
  ansible.builtin.command: timedatectl set-timezone {{ timezone_name }}
  changed_when: false
  tags:
    - common
    - timezone
